body {
    background-color: lavender;
}

.image-change {
    border: 3px solid black;
}


/* color change of all <li> */

.list-item li {
    color: purple;
    font: bold;

}

/* bordering the content list */
.bordering {

    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

/* #1.  changing the headings color */

/* h1, h2, h3, h4, h5 {
    color: red;
} */

/* #2. or with a class-.heading */

.heading {

    color: red;
}