body {
    background-color: lavender;
}

.image-change {
    border: 3px solid black;
}


/* color change of all <li> */

.list-item li {
    color: blue;
    font-size: large;
    font-weight: bold;

}

/* bordering the content list */
.bordering {

    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    
}

/* #1.  changing the headings color */

/* h1, h2, h3, h4, h5 {
    color: red;
} */

/* #2. or with a class-.heading */

.heading {

    color: red;
}

/* background color change with an ID Attribute */

#back-color {
    background-color: lightblue;
}

/* Bonus:back-color + opacity  40% (0.4)change with an ID */

#back-opacity-color {
    background-color: rgb(156, 177, 195, 0.4);
    
}

/* and without opacity -just for comparison  */

#back-noopacity-color {
    background-color: rgb(156, 177, 195);
}